/*
These are the styles for the nav bar including the compose button. In this project, nav-bar and the compose button were given id's due to the size of this single page project however I followed my natural inclination to treat these id's as classes and keep everything overly specific
*/

#nav-bar {
  background-color: #00a087;
  color: #e8fdff;
  display: flex;
  height: 80px;
  padding: 0 2em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

#nav-bar div {
  display: flex;
  width: 50%;
}

#nav-bar .logo {
  width: 80px;
  height: 80px;
  float: left;
}

#nav-bar .header {
  font-size: 2em;
  margin-left: 10px;
  line-height: 2;
  float: left;
}

#nav-bar .float-right {
  float: right;
  justify-content: flex-end;
  align-items: center;
}

#nav-bar #compose {
  -ms-align-items: center;
  align-items: center;
  border: 1px solid black;
  border-radius: .4em;
  color: #00a087;
  height: 70%;
  opacity: 0.8;
  font-size: 1.1em;
}

#nav-bar #compose:hover {
  color: black;
  opacity: 1;
}
